.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 200px 0 200px;

    ul {
        display: flex;
        gap: 40px;
        list-style: none;
        
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}