.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 190px 0 190px;

  img {
    position: relative;
    right: 3px;
  }

  ul {
    display: flex;
    gap: 40px;
    list-style: none;

    a {
      text-decoration: none;
      font-family: "Montserrat";
      font-size: 24px;
      color: black;

    }
    .active
       {
        text-decoration: underline ;
      }
  }

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 0px;
    text-transform: uppercase;

    img {
      height: 46px;
      width: 145px;
      padding-left: 10px;
    }

    ul {
      position: relative;
      display: flex;
      gap: 35px;

      a {
        font-size: 13px;
      }

      li {
        white-space: nowrap;
      }
    }
  }
}
