.info-logement {
  font-family: 'Montserrat' ;
  font-weight: 500;
  font-size: 18px;
  .logement-titre {
    color: #ff6060;
    line-height: 20px;
    font-family: 'Montserrat' ;
    
  }
  p {
    padding-bottom: 10px;
  }
}
