.proprio-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.proprio-img {
    border-radius: 50%;
    height: 65px;
    width: 65px;

    @media (max-width: 768px) {
        width: 32px;
        height: 32px;
    }
}
