.carrousel {
  position: relative;
  width: 75%;
  height: 400px;
  padding-top: 20px;

  @media (max-width: 768px) {
    width: 100%;
    height: 255px;
  }
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slide-hidden {
  display: none;
}

.left,
.right {
  @media (max-width: 768px) {
    width: 20px;
  }
}

.left-button {
  position: absolute;
  top: 40%;
  right: 90%;
  background-color: transparent;
}

.right-button {
  position: absolute;
  top: 40%;
  left: 90%;
  background-color: transparent;
}
.number {
  position: absolute;
  right: 50%;
  top: 90%;
  color: white;
  font-size: 18px;

  @media (max-width: 768px) {
    visibility: hidden;
  }
}
