@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500&display=swap');
.banner {
  display: flex;
  justify-content: center;
  place-items: center;
  margin-top: 2rem;
  position: relative;
  width: 100%;
  

  h1 {
    color: white;
    font-size: 48px;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat' ;
    br {
        display: none;
    }
  }
  img {
    width: 80%;
    height: 223px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 25px;
    filter: brightness(60%);
  }
  @media (max-width: 768px) {
   align-items: flex-start;
    display: flex;
    flex-direction: column;
  
    h1 {
      padding-left: 20px;
      font-size: 24px;
      text-align: left;
      line-height: 24px;
      br {
        display: initial;
      }
    }
    
  }
}
