.footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    font-family: 'Montserrat' ;
    margin-top: 40px;
    
    @media (max-width: 768px) {
        position:relative;
        left:0;
        bottom:0;
        right:0;
}
}